<link rel="stylesheet" href="/css/flash.css">

<% if (success && success.length > 0){ %>
    <div class="msg alert alert-success alert-dismissable fade show" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>



<!-- <div class="msg alert alert-success alert-dismissable fade show" role="alert">
    lknlnlnljk
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> -->




<% if (error && error.length > 0){ %>
    <div class="msg red alert alert-danger alert-dismissable fade show" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>