<body>
  
    <footer class="mt-5 p-4 bg-dark text-white text-center">
        <div class="container-fluid" style="display: flex; justify-content: center;">
          <p>&copy; 2024 Train Booking System. All rights reserved.</p>
        </div>
      </footer>

</body>