


<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar navbar-expand-md bg-body-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa fa-train"></i> Train Booking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <div class="line"></div>
          <a class="nav-link" href="/user/history">Booking History</a>
          <div class="line"></div>
          <a class="nav-link" href="/listings/new">Contact Us</a>
          <div class="nav-link search">
            <a style="color: rgb(255, 255, 255);" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
      </div>
      <div class="user">
        
        <!-- <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div> -->
        <div class="dropdown dropstart">
          <a class="" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars" style="color: black;"></i>
          </a>
          <ul class="dropdown-menu">
            <% if (!currUser){ %>
            <li><a class="dropdown-item" href="/user/user_signup">Sign Up</a></li>
            <li><a class="dropdown-item" href="/user/user_login" data-bs-toggle="modal" data-bs-target="#exampleModal" >Log In</a></li>
            <% } %>
            <% if (currUser){ %>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/user/user_logout">Log Out</a></li>
            <% } %>
          </ul>
        </div>
        <a href=""><i style="color: black; font-size: 1.8rem;" class="fa fa-user-circle"></i></a>
      </div>
    </div>
  </nav>





<!-- 

  login modal -->

  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->
<style>
  .login-form {
    width: 350px;
    margin: 30px auto;
  }
</style>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body">
        <div class="container">
          <h1 class="text-center mb-1">Log In</h1>
          <form class="login-form" action="/user/user_login" method="post" novalidate class="needs-validation " autocomplete="off">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" name="username" placeholder="Enter USername" required>
              <div class="valid-feedback">Good Username</div>
              <div class="invalid-feedback">Please enter relevent username</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
              <div class="valid-feedback">Welcome</div>
              <div class="invalid-feedback">Wrong password</div>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <a href="#" class="mt-3 d-block text-center">Forgot Password?</a>
            <p class="text-center mt-3">New User? <a href="/user/user_signup">Sign Up</a></p>
          </form>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
